apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: {{ .Values.project.name }}
  source:
    repoURL: {{ .Values.source.repoURL }}
    targetRevision: {{ .Values.source.targetRevision }}
    path: {{ .Values.project.path }}/kube-prometheus-stack
    helm:
      # https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/values.yaml
      valuesObject:
        kube-prometheus-stack:
          alertmanager:
            ingress:
              enabled: true
              annotations:
                cert-manager.io/cluster-issuer: intranet-dns01-prod
                nginx.ingress.kubernetes.io/auth-method: 'GET'
                nginx.ingress.kubernetes.io/auth-url: 'http://authelia.auth.svc.cluster.local/api/authz/auth-request'
                nginx.ingress.kubernetes.io/auth-signin: 'https://auth.int.fivebytestudios.com/?rm=$request_method'
                nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
              hosts:
                - alertmanager.{{ .Values.domain.intranet }}
              tls:
                - hosts:
                    - alertmanager.{{ .Values.domain.intranet }}
                  secretName: alertmanager-tls
          grafana:
            ingress:
              enabled: true
              annotations:
                cert-manager.io/cluster-issuer: intranet-dns01-prod
              hosts:
                - grafana.{{ .Values.domain.intranet }}
              tls:
                - hosts:
                    - grafana.{{ .Values.domain.intranet }}
                  secretName: grafana-tls
          prometheus:
            ingress:
              enabled: true
              annotations:
                cert-manager.io/cluster-issuer: intranet-dns01-prod
                nginx.ingress.kubernetes.io/auth-method: 'GET'
                nginx.ingress.kubernetes.io/auth-url: 'http://authelia.auth.svc.cluster.local/api/authz/auth-request'
                nginx.ingress.kubernetes.io/auth-signin: 'https://auth.int.fivebytestudios.com/?rm=$request_method'
                nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
              hosts:
                - prometheus.{{ .Values.domain.intranet }}
              tls:
                - hosts:
                    - prometheus.{{ .Values.domain.intranet }}
                  secretName: prometheus-tls
  destination:
    namespace: kube-prometheus-stack
    server: {{ .Values.destination.server }}
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
      name: kube-prometheus-stack-admission
      jsonPointers:
        - /webhooks/0/clientConfig/caBundle
        - /webhooks/0/failurePolicy
    - group: admissionregistration.k8s.io
      kind: ValidatingWebhookConfiguration
      name: kube-prometheus-stack-admission
      jsonPointers:
        - /webhooks/0/clientConfig/caBundle
        - /webhooks/0/failurePolicy
        - /webhooks/1/failurePolicy
    - group: monitoring.coreos.com
      kind: ServiceMonitor
      name: kube-prometheus-stack-kube-state-metrics
      jsonPointers:
        - /metadata/annotations
    - group: monitoring.coreos.com
      kind: ServiceMonitor
      name: kube-prometheus-stack-kubelet
      jsonPointers:
        - /metadata/annotations
    - group: apps
      kind: DaemonSet
      name: kube-prometheus-stack-prometheus-node-exporter
      jsonPointers:
        # empty object {} in live manifest but missing from desired
        - /spec/template/spec/containers/0/resources
