apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - resources/collector.yaml
  - resources/ingress.yaml
labels:
  - includeTemplates: true
    pairs:
      app.kubernetes.io/instance: jaeger
      app.kubernetes.io/name: jaeger
images:
  - name: jaeger
    newName: jaegertracing/jaeger
    newTag: 2.13.0
configurations:
  - configurations/images.yaml
replacements:
# avoid repeating the host name in the ingress tls config
- source:
    kind: Ingress
    fieldPath: spec.rules.0.host
  targets:
    - select:
        kind: Ingress
        name: jaeger-ui
      fieldPaths:
        - spec.tls.0.hosts.0
      options:
        create: true
buildMetadata: [managedByLabel]
